# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# User-specific stuff:
 .idea/workspace.xml
 .idea/tasks.xml
 .idea/dictionaries

# Sensitive or high-churn files:
 .idea/dataSources.ids
 .idea/dataSources.xml
 .idea/sqlDataSources.xml
 .idea/dynamic.xml
 .idea/uiDesigner.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/production/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Java template
*.class

### Gradle template
.gradle
gradle
build/

# Ignore Gradle GUI config
gradle-app.setting
